### Importing Libraries for data exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid')

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
df = pd.read_csv('covid_data_mex.csv')

### Data exploration

In [4]:
df.head()

,sexo,neumonia,edad,diabetes,epoc,inmusupr,hipertension,cardiovascular,obesidad,renal_cronica,decease
0,female,no,36,yes,no,no,no,no,no,no,0
1,female,no,63,no,no,no,no,yes,no,no,0
2,female,no,18,no,no,no,no,no,no,no,0
3,female,no,33,no,no,no,no,no,no,no,0
4,female,no,44,no,no,no,yes,no,yes,no,0

#### Amount of rows and columns

In [5]:
print(df.shape)
print(f'The data set has {df.shape[0]} rows and {df.shape[1]} columns')

(2526578, 11)
The data set has 2526578 rows and 11 columns

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2526578 entries, 0 to 2526577
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   sexo            object
 1   neumonia        object
 2   edad            int64
 3   diabetes        object
 4   epoc            object
 5   inmusupr        object
 6   hipertension    object
 7   cardiovascular  object
 8   obesidad        object
 9   renal_cronica   object
 10  decease         int64
dtypes: int64(2), object(9)
memory usage: 212.0+ MB

#### Checking for null values

In [8]:
df.isnull().sum()

sexo              0
neumonia          0
edad              0
diabetes          0
epoc              0
inmusupr          0
hipertension      0
cardiovascular    0
obesidad          0
renal_cronica     0
decease           0
dtype: int64

> No null values.

#### Basic Stats for data exploration

In [11]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sexo,2526578,2,female,1288828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neumonia,2526578,2,no,2311611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edad,2526578.0,NaN,NaN,NaN,39.164798,17.272036,0.0,26.0,37.0,50.0,113.0
diabetes,2526578,2,no,2299534,NaN,NaN,NaN,NaN,NaN,NaN,NaN
epoc,2526578,2,no,2509758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inmusupr,2526578,2,no,2514039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hipertension,2526578,2,no,2228048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cardiovascular,2526578,2,no,2503557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
obesidad,2526578,2,no,2281045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
renal_cronica,2526578,2,no,2503074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
decease,2526578.0,NaN,NaN,NaN,0.056003,0.229928,0.0,0.0,0.0,0.0,1.0

### Cheking for the count of unique values for every column

In [14]:
for col in df.describe(include='all').columns:
    print(df[col].value_counts())
    print()

sexo
female    1288828
male      1237750
Name: count, dtype: int64

neumonia
no     2311611
yes     214967
Name: count, dtype: int64

edad
28     66839
27     66697
29     65989
26     64970
30     61901
       ...
110       13
108       11
111       10
112        6
113        4
Name: count, Length: 114, dtype: int64

diabetes
no     2299534
yes     227044
Name: count, dtype: int64

epoc
no     2509758
yes      16820
Name: count, dtype: int64

inmusupr
no     2514039
yes      12539
Name: count, dtype: int64

hipertension
no     2228048
yes     298530
Name: count, dtype: int64

cardiovascular
no     2503557
yes      23021
Name: count, dtype: int64

obesidad
no     2281045
yes     245533
Name: count, dtype: int64

renal_cronica
no     2503074
yes      23504
Name: count, dtype: int64

decease
0    2385081
1     141497
Name: count, dtype: int64